[Desktop Entry]
Encoding=UTF-8
Name=ThunderDrive apt-gtk
Comment=Install, remove, convert and upgrade packages on the system
Exec=apt-gtk
Terminal=false
Type=Application
Categories=System;
